header nav {
  background-color: #252850;
  text-transform: uppercase;
}
header nav li:hover {
  font-weight: bolder;
}

.nav-link {
  --bs-nav-link-color: rgb(179, 179, 179);
  --bs-navbar-active-color: rgb(255, 255, 255);
}

main {
  margin: 2vh 2vw 2vh 2vw;
}
main h1 {
  text-transform: uppercase;
}
main h3 {
  font-size: 1.5rem;
}
main section {
  background-color: rgb(233, 232, 232);
  border-radius: 1.5vw;
}
main section div {
  background-color: rgb(255, 255, 255);
  padding: 3px;
}
main .lista {
  list-style: none;
  padding: 0;
}
main p {
  text-align: justify;
}
main .imagen2 {
  max-width: 600px;
}
main .imgfloat {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}
main .imgarea {
  transition: all 0.2s;
}
main .imgarea:hover {
  transform: scale(1.05);
}
main .imagentel {
  width: 50px;
}
main .extra1, main .extra2, main .extra3, main .extra4 {
  display: none;
}
main input[type=checkbox] {
  height: 2em;
  display: block;
  appearance: none;
}
main label {
  position: relative;
  padding: 1em;
  background-color: #252850;
  color: white;
  cursor: pointer;
}
main label::before {
  content: "MAS";
}
main input[type=checkbox]:checked ~ label::before {
  content: "MENOS";
}
main .dots1:has(~ input[type=checkbox]:checked),
main .dots2:has(~ input[type=checkbox]:checked),
main .dots3:has(~ input[type=checkbox]:checked),
main .dots4:has(~ input[type=checkbox]:checked) {
  display: none;
}
main .extra1:has(~ input[type=checkbox]:checked),
main .extra2:has(~ input[type=checkbox]:checked),
main .extra3:has(~ input[type=checkbox]:checked),
main .extra4:has(~ input[type=checkbox]:checked) {
  display: inline;
  text-align: justify;
}
@media only screen and (max-width: 480px) {
  main .imgfloat {
    width: 100%;
    min-width: 200px;
    max-width: 600px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  main .imgarea {
    width: 29vw;
    min-width: 0;
    max-width: 200px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  main .imgfloat {
    width: 50%;
    min-width: 330px;
    max-width: 600px;
  }
  main .imgarea {
    width: 29vw;
    min-width: 0;
    max-width: 200px;
  }
}
@media only screen and (min-width: 721px) {
  main .imgfloat {
    width: 50%;
    min-width: 330px;
    max-width: 600px;
  }
  main .imgarea {
    width: 15vw;
    min-width: 0;
    max-width: 200px;
  }
  main .extra1, main .extra2, main .extra3, main .extra4 {
    display: inline;
  }
  main .dots1, main .dots2, main .dots3, main .dots4 {
    display: none;
  }
  main input[type=checkbox] {
    display: none;
  }
  main label {
    display: none;
  }
}
main .accordion-header {
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: rgb(233, 232, 232);
  --bs-accordion-btn-focus-border-color: rgb(233, 232, 232);
  --bs-accordion-btn-focus-box-shadow: none;
}

footer {
  background-color: #252850;
  color: rgb(255, 255, 255);
  padding: 2vh 2vw 2vh 2vw;
}
footer img {
  height: 150px;
  width: 150px;
}
@media only screen and (max-width: 480px) {
  footer img {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  footer img {
    height: 75px;
    width: 75px;
  }
}
footer .push {
  margin-left: auto;
  margin-right: 0.5rem;
}

* {
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}
html body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*# sourceMappingURL=style.css.map */
