footer {
  background-color: $color-fondo-footer;
  color: $color-letras-footer;
  padding: 2vh 2vw 2vh 2vw;
   img {
    height: 150px;
    width: 150px;
  }

  @media only screen and (max-width: nth($tamanosPantalla,1)) {
    img {
      height: 50px;
      width: 50px;
    }
  }

  @media only screen and (min-width: nth($tamanosPantalla,2)) and (max-width: nth($tamanosPantalla,3)) {
    img {
      height: 75px;
      width: 75px;
    }
  }
  .push {
    margin-left: auto;
    margin-right: 0.5rem;
  }
}


