main {
    margin: 2vh 2vw 2vh 2vw !important;
    h1 {
        text-transform: uppercase;
      }
    a{
        color: #000000;
        text-decoration: none;
        
      }
    .lista{
        list-style: none;
      }
      p{
        text-align: justify;
    }
  }

  .imagen2 {
    max-width: 600px !important;
  }