main {
  margin: 2vh 2vw 2vh 2vw;
  h1 {
    text-transform: uppercase;
  }
  section{
    background-color: rgb(233, 232, 232);
    border-radius: 1.5vw;
  }
  .lista {
    list-style: none;
    padding: 0;
  }
  p {
    text-align: justify;
  }
  .imagen2 {
    max-width: 600px;
  }

  .imgfloat {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  .imgarea {
    transition: all 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
  .imagentel {
    width: 50px;
  }

  @media only screen and (max-width: nth($tamanosPantalla,1)) {
    .imgfloat {
      @include ancho(100%, 200px, 600px);
      margin-left: 0px;
      margin-bottom: 10px;
    }
    .imgarea {
      @include ancho(29vw, 0, 200px);
    }
  }

  @media only screen and (min-width: nth($tamanosPantalla,2)) and (max-width: nth($tamanosPantalla,3)) {
    .imgfloat {
      @include ancho(50%, 330px, 600px);
    }
    .imgarea {
      @include ancho(29vw, 0, 200px);
    }
  }

  @media only screen and (min-width: nth($tamanosPantalla,4)) {
    .imgfloat {
      @include ancho(50%, 330px, 600px);
    }
    .imgarea {
      @include ancho(15vw, 0, 200px);
    }
  }
}
